@font-face {
    src: url(../fonts/Muli/Muli-Regular.ttf);
    font-family: muli
}

@font-face {
    src: url(../fonts/Saira_Extra_Condensed/SairaExtraCondensed-ExtraBold.ttf);
    font-family: saira
}